@import "tailwindcss";

@theme {
  /* Fontlar */
  --font-sans: "Space Grotesk", sans-serif;
  --font-mono: "JetBrains Mono", monospace;

  /* Renkler (HTML'deki değerlerin birebir aynısı) */
  --color-primary: #0d59f2;
  --color-primary-hover: #0b4bc9;
  --color-primary-light: #3b82f6;

  --color-dark-950: #0a0a0a;
  --color-dark-900: #101622;
  --color-dark-800: #161b22;
  --color-dark-700: #222f49;
}

/* Custom Scrollbar */
@layer base {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #101622;
  }
  ::-webkit-scrollbar-thumb {
    background: #222f49;
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #3b82f6;
  }
  body {
    @apply bg-dark-950 text-white antialiased;
  }
}

/* Özel Efektler */
@utility glass {
  background: rgba(22, 27, 34, 0.7);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.05);
}

@utility neon-glow {
  box-shadow: 0 0 40px -10px rgba(13, 89, 242, 0.3);
}
button{
  cursor: pointer;
}

